# ================================
# IntelliJ IDEA
# ================================
.idea/
*.iml
out/
*.iws
*.ipr
*.class

# ================================
# Eclipse
# ================================
.apt_generated/
.classpath
.factorypath
.project
.settings/
bin/

# ================================
# NetBeans
# ================================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ================================
# VS Code
# ================================
.vscode/

# ================================
# Maven / Gradle
# ================================
/target/
/build/
/.gradle/
/*.log

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# Misc
# ================================
*.swp
*.swo
